rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /audio/{songName}/{fileName} {
      allow read: if request.auth != null 
                  && request.auth.token != null;  // Ensure valid auth token
      allow write: if false;  // Keep write access restricted
    }
    match /{allPaths=**} {
      allow read, write: if false;  // Keep other paths restricted
    }
  }
} 
